In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [72]:
df_train['price_range'].value_counts()

2    383
3    380
1    374
0    369
Name: price_range, dtype: int64

In [57]:
df_train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1

In [59]:
#Checking for train outlier
Q1 = df_train.quantile(0.25)
Q3 = df_train.quantile(0.75)
IQR = Q3 - Q1
df_train = df_train[~((df_train < (Q1 - 1.5 * IQR)) | (df_train > (Q3 + 1.5 * IQR))).any(axis=1)]
df_train.shape

(1506, 21)

In [60]:
#Checking for test outlier
Q1 = df_test.quantile(0.25)
Q3 = df_test.quantile(0.75)
IQR = Q3 - Q1
df_test = df_test[~((df_test < (Q1 - 1.5 * IQR)) | (df_test > (Q3 + 1.5 * IQR))).any(axis=1)]
df_test.shape

(740, 21)

In [63]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()

df_train_scaled=minmax.fit_transform(df_train)
df_train_scaled=pd.DataFrame(data=df_train_scaled,columns=df_train.columns)
print(df_train_scaled.shape)


df_test_scaled=minmax.fit_transform(df_test)
df_test_scaled=pd.DataFrame(data=df_test_scaled,columns=df_test.columns)
print(df_test_scaled.shape)

(1506, 21)
(740, 21)

In [64]:
df_train_scaled.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0.347361,1.0,0.00,1.0,0.0000,1.0,0.822581,0.666667,0.466667,0.285714,...,0.471354,0.993324,0.634687,0.857143,0.166667,0.277778,0.0,1.0,0.0,0.666667
1,0.041416,1.0,0.00,1.0,0.1250,1.0,0.629032,0.888889,0.541667,0.571429,...,0.657813,0.811749,0.627205,0.428571,0.111111,0.388889,0.0,1.0,0.0,0.666667
2,0.076152,1.0,0.80,0.0,0.0000,0.0,0.129032,0.777778,0.425000,0.714286,...,0.633333,0.858478,0.671566,0.785714,0.444444,0.500000,0.0,0.0,0.0,0.666667
3,0.881764,1.0,0.28,0.0,0.8125,1.0,0.677419,0.555556,0.508333,0.142857,...,0.629167,0.475300,0.308658,0.214286,0.111111,0.722222,0.0,1.0,0.0,0.333333
4,0.907148,0.0,0.00,1.0,0.1875,0.0,0.322581,0.666667,0.700000,0.000000,...,0.522917,0.770360,0.216729,0.857143,0.055556,0.444444,0.0,0.0,0.0,0.333333

In [65]:
train_input_col=df_train_scaled.drop(columns=['price_range'],axis=1)
train_target=df_train_scaled['price_range']
test_input_col=df_test_scaled.drop(columns=['id'],axis=0)

In [66]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error
lin_model=LinearRegression().fit(train_input_col,train_target)
y_pred=lin_model.predict(test_input_col)
#mse_test=mean_squared_error(y_pred,y_test)
#print('Root Mean Squared Error:',round(np.sqrt(mse_test), 4))
r2_value_rfe = lin_model.score(train_input_col,train_target)
print('r-squared : ', r2_value_rfe)
#r2_value_rfe_test = lin_model.score(x_test, y_test)
#print('r-squared : ', r2_value_rfe_test)

r-squared :  0.9184774150262462

In [37]:
df.skew()

battery_power    0.030161
blue             0.055854
clock_speed      0.217871
dual_sim        -0.021271
fc               0.952973
four_g          -0.795301
int_memory       0.062448
m_dep            0.107289
mobile_wt       -0.000765
n_cores          0.019427
pc               0.013944
px_height        0.661719
px_width         0.015433
ram             -0.016709
sc_h            -0.103254
sc_w             0.626755
talk_time        0.041486
three_g          0.000000
touch_screen    -0.023930
wifi            -0.021271
price_range     -0.019226
dtype: float64

(1506, 21)

In [32]:
df.shape

(2000, 21)

In [31]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB